.duck-animation {
  width: 31px;
  animation: duck-animation 22s linear infinite;
  transform-origin: center;
}
.duck-animation p {
  color: #e2dc27 !important;
  margin-left: -10px;
  animation: duck-animation 22s linear infinite;
}

@keyframes duck-animation {
  0% {
    left: var(--navbar-width);
    transform: scaleX(1);
  }
  49% {
    left: calc(100% - var(--navbar-width));
    transform: scaleX(1);
  }
  50% {
    left: calc(100% - var(--navbar-width));
    transform: scaleX(-1);
  }
  50.01% {
    left: calc(100% - var(--navbar-width));
    transform: scaleX(-1);
  }
  99% {
    left: var(--navbar-width);
    transform: scaleX(-1);
  }
  100% {
    left: var(--navbar-width);
    transform: scaleX(1);
  }
}
