.nav-stroke:hover path {
  stroke: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
.nav-fill:hover path {
  fill: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
.nav-stroke.selected path {
  stroke: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
.nav-fill.selected path {
  fill: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
