@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Noto Sans Mono", system-ui, "Iosevka Web",
    "Atkinson Hyperlegible", Inter, sans-serif;

  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background: #1f1f28;
  --color-light: #dcd7ba;
  --color-dark: #181820;
  --color-primary: #ff5d62;

  --color-topagrar: #008437;
  --color-arvalis: #116967;
  --navbar-width: 3rem;
}
html,
body,
* {
  cursor: none;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  z-index: 1000;
  border-radius: 50%;
  pointer-events: none;
  background: var(--color-light);
  border: 1.5px solid var(--color-dark);
}
.transition {
  transition: all 0.4s ease-in-out;
}

h1 {
  font-family: "Noto Sans Mono", system-ui, sans-serif;
  @apply text-4xl md:text-3xl 2xl:text-5xl font-bold text-[var(--color-primary)] hover:text-[var(--color-light)] transition;
}
h1:hover {
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: var(--primary, var(--color-primary));
}
h2 {
  font-family: "Noto Sans Mono", system-ui, sans-serif;
  @apply text-4xl 2xl:text-5xl font-bold text-[var(--color-light)] hover:text-[var(--color-primary)] transition;
}
h3 {
  font-family: "Noto Sans Mono", system-ui, sans-serif;
  @apply text-4xl 2xl:text-5xl font-bold text-[var(--color-primary)];
}
p {
  font-family: "Atkinson Hyperlegible", system-ui, sans-serif;
  @apply text-xl md:text-lg 2xl:text-2xl text-[var(--color-light)];
}
a:hover {
  @apply text-[var(--color-primary)] transition;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.stroke path {
  stroke: var(--color-light);
  transition: all 0.3s ease-in-out;
}
.stroke:hover path {
  stroke: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
.fill path {
  fill: var(--color-light);
  transition: all 0.3s ease-in-out;
}
.fill:hover path {
  fill: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
