@import "tailwindcss";

:root {
  font-family: system-ui, Inter, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --color-background: #f0f0f0;
  --color-white: #252525; */
  --color-background: #252525;
  --color-white: #f0f0f0;
  --color-detail: #101010;
  --color-primary: #19f2d1;

  --color-topagrar: #008437;
  --color-arvalis: #116967;
  --navbar-width: 3rem;
}
.buttons-container {
  font-family: system-ui, Anonymous Pro, monospace;
}
.transition {
  transition: all 0.3s ease-in-out;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
