.home-stroke path {
  stroke: var(--color-white);
  transition: all 0.3s ease-in-out;
}
.home-stroke:hover path {
  stroke: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
.home-fill path {
  fill: var(--color-white);
  transition: all 0.3s ease-in-out;
}
.home-fill:hover path {
  fill: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
.nav-stroke path {
  stroke: #f0f0f0;
  transition: all 0.3s ease-in-out;
}
.nav-stroke:hover path {
  stroke: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
.nav-fill path {
  fill: #f0f0f0;
  transition: all 0.3s ease-in-out;
}
.nav-fill:hover path {
  fill: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
.white path {
  stroke: var(--color-white);
}
.dark path {
  stroke: var(--color-background);
}
